---
import { headerIcons } from '../Utils/containerStyles';
import Icons from './Icons.astro';

interface Props {
  title: string;
  icon: any;
  url: string;
  i18nKey: string;
}

const { title, icon, url, i18nKey } = Astro.props as Props;
---

<a 
  href={url}
  class={headerIcons}
  title={title}
  data-i18n-title={i18nKey}
>
  <Icons iconCode={icon}/>
</a>