---

import Icons from "../Components/Icons.astro"
import LanguagePicker from "../Components/LanguagePicker.astro"
import Typewriter from "../Components/Typewriter.astro"
import { $dict, constLanguages } from '../store/languageStore.ts'
const dict = $dict.get()

const containerStyle    = "flex flex-col justify-center items-start w-fit h-full space-y-2"

const buttonStyle       = "text-(--c_white) text-[2rem] px-2 pt-2 border border-(--c_white) rounded-2xl cursor-pointer"

---

<div class={`${containerStyle} ml-10`}>
  <p class={`font-bold font-rFont text-[3rem] text-(--c_principal) mb-10`}>
    {constLanguages.cLeft_name01}
  </p>

  <Typewriter 
    postKeys={['cLeft_myTitle01', 'cLeft_myTitle02', 'cLeft_myTitle03']}
    postSpeed={100}
    postDelay={2000}
  />

  <p class={`font-bold font-iFont text-[2.5rem] text-(--c_principal)`}>
    <Icons iconCode="MapPoint" />
    <Icons iconCode="Venezuela" />
    <span class="vzla-gradient" data-i18n="cLeft_venezuela">
      {dict.cLeft_venezuela}
    </span>
  </p>
</div>
<div class={`${containerStyle}`}>
  <a href="javascript:void(0)" title={dict.cLeft_title01} class={buttonStyle} data-i18n-title="cLeft_title01">
    <Icons iconCode="Terminal" />
  </a>
  <a href="javascript:void(0)" title={dict.cLeft_title02} class={buttonStyle} data-i18n-title="cLeft_title02">
    <Icons iconCode="Projects" />
  </a>
  <a href="javascript:void(0)" title={dict.cLeft_title03} class={buttonStyle} data-i18n-title="cLeft_title03">
    <Icons iconCode="Experiencies" />
  </a>
  <a href="javascript:void(0)" title={dict.cLeft_title04} class={buttonStyle} data-i18n-title="cLeft_title04">
    <Icons iconCode="Education" />
  </a>
  <LanguagePicker />
  <button id="lang-button" title={dict.cLeft_title05} class={buttonStyle} data-i18n-title="cLeft_title05">
    <Icons iconCode="Language" />
  </button>
</div>

